.todoList-item{
    font-size: 20px;
    padding: 10px;

}

.todoList-completed{
    text-decoration: line-through;
}

.form {
    width: 100%;
    outline: none;
    border: 2px solid #1bc4b5;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
.delete {
    background: red;
    border-radius: 5px;
    border: 2px solid red;
    margin: 5px 5px;
    color: #FFF;
    cursor: pointer;
}

.done {
    background: green;
    border-radius: 5px;
    border: 2px solid green;
    margin: 5px 5px;
    color: #FFF;
    cursor: pointer;
}
.cancel {
    background: white;
    color: grey;
    border: 2px solid white;
    margin: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}